Name = {{ tinc_hostname }}
Device = /dev/net/tun
BindToAddress = {{ physical_ip }}
AddressFamily = ipv4
{% for host in tinc_connect_to %}
{% if tinc_hostname != host %}
ConnectTo = {{ host }}
{% endif %}
{% endfor %}
