Name = {{ inventory_hostname }}
Device = /dev/net/tun
BindToAddress = {{ physical_ip }}
AddressFamily = ipv4
{% for host in play_hosts %}
{% if inventory_hostname != hostvars[host]['inventory_hostname'] %}
ConnectTo = {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}
